*{
    box-sizing: border-box;
}
*{
    margin: 0rem;
    padding: 0rem;
}
ul,ol{
    list-style: none;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}
a{
	text-decoration: none;
	color:black;
	-webkit-tap-highlight-color: transparent;
}
